input{
margin:10px;
}
#submit{
margin-top: 20px; 
margin-bottom: 20px;
font-family: 'Courier New', Courier, monospace;
background-color: black;
color: aquamarine;
}
#sort{
display: none;
margin-top: 20px; 
margin-bottom: 20px;background-color:darkblue;
color:aqua;
}
body{
background-color: aquamarine;
}